.popup__close {
  background-image: url(../../../images/CloseIcon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  width: 32px;
  height: 32px;
  position: absolute;
  padding: 0;
  background-color: transparent;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: -35px;
    right: 0;
  }
}